.active{
    color: #3f3f3f !important;
}

button{
    font-size: 2em !important;
}

td{
    width: 100%;
    min-width: 100%;
}

.fieldLabel{
    width: 6rem;
}

.error{
    color: red;
    font-size: 1.1em;
    font-weight: bolder;
}

.text-input input{
    width: 100%;
}

textarea{
    line-height: 3rem;
    width: 100%;
}


@media (max-width: 576px) {
    .container-fluid h2{
        font-size: 150%;
    }
}