<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<!--  HEAD  -->
<head th:replace="~{fragments/head::head}"></head>
<!--  PAGE  -->
<body>
<div id="page-container">
    <div id="content-wrap">
        <!--  NAV  -->
        <nav th:replace="~{fragments/nav::nav(index)}"></nav>
        <!--  CONTENT  -->
        <div class="container-fluid padding">
            <div class="text-center padding">
                <h1>Third Hand</h1>
            </div>
            <div class="col-12">
                Yar Pirate Ipsum
                Prow scuttle parrel provost Sail ho shrouds spirits boom mizzenmast yardarm. Pinnace holystone
                mizzenmast quarter crow's nest nipperkin grog yardarm hempen halter furl. Swab barque interloper
                chantey doubloon starboard grog black jack gangway rutters.
                Deadlights jack lad schooner scallywag dance the hempen jig carouser broadside cable strike colors.
                Bring a spring upon her cable holystone blow the man down spanker Shiver me timbers to go on account
                lookout wherry doubloon chase. Belay yo-ho-ho keelhaul squiffy black spot yardarm spyglass sheet
                transom heave to.
            </div>
            <form method="get" action="/products/form" class="text-center">
                <button type="submit" class="btn">List a new item</button>
            </form>
        </div>
    </div>
    <!--  FOOTER  -->
    <footer th:replace="~{fragments/footer::footer}"></footer>
</div>
</body>
</html>