<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<!--  HEAD  -->
<head th:replace="~{head::head}"></head>
<!--  PAGE  -->
<body>
<div id="page-container">
    <div id="content-wrap">
        <!--  NAV  -->
        <nav th:replace="~{nav::nav(index)}"></nav>
        <!--  CONTENT  -->
        <div class="container-fluid padding">
            <div class="text-center padding">
                <h1>Index</h1>
            </div>
        </div>
    </div>
    <!--  FOOTER  -->
    <footer th:replace="~{footer::footer}"></footer>
</div>
</body>
</html>