<!DOCTYPE html>
<html lang="${#locale.language}"
      xmlns:th="http://www.thymeleaf.org">
<nav th:fragment="nav(page)" class="navbar navbar-expand-md navbar-light bg-light sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{~/index}"><img th:src="@{~/img/logo.png}" alt="logo"></a>
        <h2>Menu</h2>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a th:href="@{~/index}" th:class="'nav-link '+ ${(page == 'index')?'active':''}">Home</a>
                </li>
                <li class="nav-item">
                    <a th:href="@{~/products}" th:class="'nav-link '+ ${(page == 'products')?'active':''}">Products</a>
                </li>
                <li class="nav-item">
                    <a th:href="@{~/contact}" th:class="'nav-link '+ ${(page == 'contact')?'active':''}">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
</html>