<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<!--  HEAD  -->
<head th:replace="~{fragments/head::head}"></head>
<!--  PAGE  -->
<body>
<div id="page-container">
    <div id="content-wrap">
        <!--  NAV  -->
        <nav th:replace="~{fragments/nav::nav(products)}"></nav>
        <!-- CONTENT  -->
        <div class="container-fluid padding">
            <div class="text-center padding">
                <h1>Products</h1>
            </div>
            <div class="tableWrapper">
                <form method="get" action="/products/form">
                    <button type="submit" class="btn">List a new item</button>
                </form>
                <table id="productTable">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Price</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="product : ${products}">
                        <td th:text="${product.productName}"></td>
                        <td th:text="${product.price}"></td>
                        <td><a th:href="@{~/products/{id}(id=${product.id})}">details</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!--  FOOTER  -->
    <footer th:replace="~{fragments/footer::footer}"></footer>
</div>
</body>
</html>